* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    font-family: 'Poppins', sans-serif;
  }
  
  .login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }
  
  .login-box {
    background-color: white;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
  }
  
  .login-box h2 {
    margin-bottom: 30px;
    color: #333;
    font-weight: 600;
  }
  
  .input-group {
    position: relative;
    margin-bottom: 30px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    padding-left: 40px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 30px;
    outline: none;
    transition: all 0.3s ease;
  }
  
  .input-group input:focus {
    border-color: #9b59b6;
  }
  
  .input-group label {
    position: absolute;
    left: 40px;
    top: 10px;
    color: #aaa;
    font-size: 14px;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  
  .input-group input:focus + label,
  .input-group input:valid + label {
    top: -12px;
    left: 40px;
    color: #9b59b6;
    font-size: 12px;
    background-color: white;
    padding: 0 5px;
  }
  .login-btn-container{
    margin-top: 50px;
    width: 300px;
    height: 150px;
    position: relative;
  }
  .login-btn {
    width: 100px;
    height: 50px;
    position: absolute;
    padding: 12px;
    border: none;
    border-radius: 30px;
    background: #9b59b6;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-btn:hover {
    background: #8e44ad;
  }
  
  .login-btn:active {
    transform: scale(0.98);
  }
  
  @media (max-width: 768px) {
    .login-box {
      width: 100%;
      margin: 20px;
      padding: 20px;
    }
  }
  
  /* Custom Alert Styles */
.custom-alert {
    position: absolute;
    top: 20px;
    width: 300px;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
    text-align: center;
    animation: fadeIn 0.3s ease;
    z-index: 100;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .close-alert-btn {
    margin-top: 10px;
    padding: 8px 20px;
    background-color: #9b59b6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .close-alert-btn:hover {
    background-color: #8e44ad;
  }